<configuration>
  <!--Pre-defined config parameters-->
  <!--<parameter name="ConfigFile" value="TestAutomation.config"/>-->
  <parameter name="ResourceFilesLocation" value="Resources" />
  <parameter name="StartingUrl" value ="https://team-automation-st.sndev.net/"/>
  
  <!--User defined config parameters-->

  <!-- Selenium Test configurations-->
  
    <!--BROWSER settings start-->
        <!-- Selenium_Browser values - android|chrome|firefox|htmlunit|internet explorer|iexplorer|iPhone|iPad|opera|safari-->
        <parameter name="SELENIUM_BROWSER" value="chrome"/>

        <!--Selenium_Version - version of the browser that is needed-->
        <parameter name="SELENIUM_VERSION" value=""/>

        <!--Selenium_Platform - platform the browser - WINDOWS|XP|VISTA|MAC|LINUX|UNIX|ANDROID-->
        <parameter name="SELENIUM_PLATFORM" value=""/>
        
        <!--The full path to the directory containing ChromeDriver.exe-->
        <parameter name="chromeDriverDirectory" value="C:\ChromeDriver_2.9_32Bit"/>

        <!--The full path to the directory containing IEDriverServer.exe-->
        <parameter name="IEDriverServerDirectory" value="C:\IEDriver_2.42_32Bit"/>
  
        <!--The full path to the directory containing edgeDriver.exe-->
        <parameter name="edgeDriverDirectory" value=""/>
  
  <!--BROWSER settings end-->

    <!--Selenium GRID2 config start-->
        <!--Grid value can be local|saucelabs|grid2-->
        <parameter name="GRID" value="local"/>

        <!--Selnium_Host is the ip/serverName of grid2 hub, Used when grid value is 'remote'-->
        <parameter name="SELENIUM_HOST" value="localhost"/>

        <!--Selnium_Host is the port number in which grid2 hub listens, Used when grid value is 'remote'-->
        <parameter name="SELENIUM_PORT" value="4444"/>
    <!--Selenium GRID2 config end-->

    <!--Selenium SACUCELABS config start-->
        <!--SAUCE_USERNAME  Used when grid value is 'saucelabs'-->
        <parameter name="SAUCE_USERNAME" value="pras-loyol"/>

        <!--SAUCE_ACCESS_KEY Used when grid value is 'saucelabs'-->
        <parameter name="SAUCE_ACCESS_KEY" value="57abad2c-ba17-4ec0-a6fb-74717aef4b41"/>

    <!--Selenium SACUCELABS config end-->

  <!-- Selenium Test configurations end-->


</configuration>