<configuration>
  <!--Pre-defined config parameters-->
  <parameter name="ConfigFile" value="TestAutomation.config"/>
  <parameter name="ResourceFilesLocation" value="Resources" />
  <parameter name="DefaultHeaders" value ="Accept : text/json, username : test1, password : test@123"/>

  <!--User defined config parameters-->
  <parameter name="BaseEndPointUrl" value="https://team-automation-st.sndev.net:443" />
  <parameter name="AuthorizationHeaders" value ="Authorization : Bearer "/>
  <parameter name="GradesURISegmet" value ="/api/v1/system/grades"/>
  <parameter name="AuthorizationURI" value ="https://team-automation-st.sndev.net/api/oauth/token"/>
  <parameter name="GradeSuiteFile" value ="CreatGrade_RegressionSuite"/>
  <parameter name="FunctionalSuiteFile" value="TestSuite_SuiteSheet_YES"/>
  <parameter name="WebServicexEndPoint" value="http://www.webservicex.net"/>

</configuration>